/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #2E313B;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: sans-serif,'poppins';
    display: inline-block;
    background-size: auto;
}
.logo
{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    float: left;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 40px;
    position: relative;

}
.logo img{
    width: 65px;
    height: 45px;
    float: left;
    color: #fff;
    margin-top: 10px;
    margin-left:5px ;
    padding-inline-start: 5px;
}
.ones{
    position: absolute;
    top: 10px;
    left: 22px;
    padding-top: 5px;
    z-index: 9999;
}
span{
    font-size: 30px;
    font-weight: 400;
    color: #33B5E5;
   z-index:9999;

}
.toggle
{
    font-size: 20px;
    font-weight: 50;
    color: #fff;
    float: left;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
.toggle .active{
    z-index: 999;
    background-color: #2696E9;
    background-size: 100px;
    background-position: fixed;
    transition: 0.3s ease;
}

.nav 
{
    background-color: none;
    height: 45;
    width: 100%;
    position: fixed;
    z-index: 999;
}

 ul{
    float: left;
    margin-left: 10%;
    margin-top: 0%;
}

#click{
    display: none;
}

nav.black {
    background: #2696E9;
}
 .socialtop
{
    float: right;
    margin-right: 20px;
}
 ul li{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    padding: 23px 0px 15px 15px;
    
}
ul li a{
    cursor: pointer;
    font-size: 20;
    color: #fff;
    font-weight: 100;
   text-decoration: none;
    padding: 15px;
    margin-top: 12px;
    margin-left: -10px;
    
}
ul li:hover
{
    background-color: #33B5E5;
    color: #fff;
}

 .top-social
{
    padding: 14px 15px;
    margin-top: 12px;
}

 .top-social a{
   padding: 13px;

    color: #fff;
    cursor: pointer;
    position: relative;
   
}

.top-social a:hover
{
    background-color: #33B5E5;
    border-radius: 50px;
}

/* HOME PAGE */
/* MAIN SECTION */
.home{
     width: 100%;
    max-width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center; 
     min-height: 130vh;
     position: relative;
     flex-basis: 80%;
}
.home .home-content{
    
   float: left;
   margin-top: 100px;
   margin-left: 100px;
   min-height: 100vh;
    color: #fff;
   display: block;
   align-items: center;
   justify-content: center;
   /* justify-content: space-between; */
    font-size: 100px;
    font-weight: 300px;
     font-family: sans-serif;
     position: relative;
}
.home .home-content .text-1{
    margin-top: 35px;
}
.home .home-content .text-2{
    padding-top: 10px;
}

/* DOWNLOAD NOW BUTTON */
.home .download-btn{
   
    font-size: 15px;
    font-weight: 100px;
    color: #fff;
    background-color: #33B5E5;
    border-radius:5px;
    padding: 1rem 3rem;
    text-decoration: none;
}
.home .download-btn:hover{
    transform:  scale(5.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/*Images*/
 .one 
{
    margin-top: -140px;
    margin-left: -590px;
    float: left;
   
}
 .two{
    height: 50px;
    width: 100px;
    margin-top: -150px;
}
/* .three {
    /* float: right; 
   right: -130%;
   left: 170%;
} */


/* .images .three {
    float: right;
    margin-bottom: 300px;

}  */

/* Slider */
.home .img-slider{
    width: 400px;
    height: 500px;
    float: right;
    margin-top: 60px;
    left: 5%;
    border-radius: 5px;
    position: relative;
  /* position: absolute; */

}
.home .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
  
clip-path: circle(0% at 0 50%);
}
.home .img-slider .slide.active{
   
clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;

}

.home .img-slider .slide img{
    height: 300px;
    width: 400px;
    z-index: 1;
    border-radius: 5px;
    padding-right: 40px;
    min-height: 10vh;
    position: relative;
}

.home .img-slider .navigation {
    float: left;
     z-index: 2;
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 200px;
    top: 280px;
    transform: translateX(-50%);
    
}
.home .img-slider .navigation .btn{
    background: #fff;
    width: 7px;
    height: 7px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
   
}
.home .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0,0, 0, 0.5) ;
}

/* 2nd Slide */
 .container
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-wrap: wrap;
    margin-left: 30px;
    flex: 1;
    flex-basis: auto;
}
.card{
    background-color: #282C31;
    height: 200px;
    width: 900px;
    border-radius: 10px;
    cursor: pointer;
    min-height: 30vh;
}
.card .head{
    text-align: center;
    font-weight: 30px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    
   
}
.card .head span{
    font-weight: 30px;
    font-size: 50px;

}
.card .para{
    text-align: center;
    padding: 25px 50px;
    min-height: -10vh;
}

.card:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Images */
.container .four img
{
    height: 180px;
    margin-right: 30px;
}
.container .five img
{
    margin-top: 100px;
    margin-left: -80px;
    width: 200px;
}



/* 3rd Slide = Cards */
/* Images */
 .six img{
    margin-top: -30px;
    margin-left: 20px;

}
 .seven img
{
    margin-top: 10px;
  margin-left: -40px;
  
}
.eight img{
    margin-left: -5px;
    margin-top: 130px;
}
.nine img{
    float: right;
    margin-top: -70px;
    margin-right: -40px;
}


 .containers 
{
    font-family: sans-serif,"poppins";
     width: 80%;
    margin: 100px 90px;
}
 .row{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

 .card-1{
    width: 250px;
    height: 185px;
    background-color:#D2F2ED;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 20px;
     min-height: -30vh;
     margin-left: -170px;
     margin-right: 10px;
}
.card-2{
    width: 250px;
    height: 185px;
    background-color:#CDC9DD;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 20px;
    min-height: -10vh;
   margin-left: 3px;
    backface-visibility: hidden;
}
 .card-3{
    width: 250px;
    height: 185px;
    background-color:#FFE5DF;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;

    padding-top: 20px;
    min-height: -10vh;
}

 .card-header1{
    padding: 20px;
    text-align: center;
   font-size: 25px;
   font-weight: 5px;
   color: #33B5E5;

}

.card-header2{
    padding: 20px;
    text-align: center;
   font-size: 25px;
   font-weight: 5px;
   color: #33B5E5;

}

.card-header3{
    padding: 20px;
    text-align: center;
   font-size: 25px;
   font-weight: 5px;
   color: #33B5E5;

}

.card-body{
    color: #2E313B;
    font-size: 15px;
    padding: 0px 5px;
    text-align: center;
    line-height: 25px;
    min-height: -20vh;
}

.card-1:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-2:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-3:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}


/* 4th Slide */

/* Images */
.ten img{
   
   
    margin-top: -500px;
}
.eleven img{
    float: right;
    margin-right: -150px;
    margin-top: -200px;
}

.twelve img{
  float: right;
margin-right: 40px;
margin-top: 150px;
backface-visibility: hidden;
}
.thirteen img{
   float: left;
   margin-top: -350px;
   margin-left: 100px;
  
} 
.fourteen img{
    height: 250px;
    margin-top: -500px;
    margin-left: 100px;
}

.columns{
    font-family: sans-serif,"poppins";
    width: 90%;
    /* margin-left: 50px; */
 

}
.rows{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: wrap;
}

.column-1{
    width: 850px;
    height: 300px;
    background-color:#FFE5DF;
    margin-bottom: 50px;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -60px;
    min-height: -30vh;

}
.column-2{
    width: 850px;
    height: 300px;
    background-color:#FFE5DF;
    margin-bottom: 50px;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    min-height: -30vh;
      
    /* margin-left: 80px; */
 
}
.column-3{
    width: 850px;
    height: 300px;
    background-color:#FFE5DF;
    margin-bottom: 50px;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    min-height: -30vh;
    backface-visibility: hidden;
  
}
.column-header-1{
    text-align: center;
    font-size: 30px;
    font-weight: 200px;
    padding-top: 40px;
}
.column-body{
    text-align: center;
    font-size: 20px;
    font-weight: 100px;
    padding-top: 20px;

}
.column-1:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.column-2:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.column-3:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* 5th Slide */
.contain{
    font-family: sans-serif;
    width: 90%;
}
.cols{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 1;

}
.col{
    width: 80rem;
    height: 25rem;
    background-color: #fff;
    justify-content: center;
    margin-bottom: 200px;
    margin-left: 100px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    min-height: -100vh;
    
}
.col-1{
    width: 400px;
    height: 200px;
    
    float: right;
  margin-top: 8%;
  margin-right: 9%;
  margin-bottom: 5%;
    border: 1px solid #282C31;
}

.col .download-btn{
   
    font-size: 15px;
    font-weight: 100px;
    color: #fff;
    background-color: #33B5E5;
    border-radius:5px;
    padding: 1rem 3rem;
    text-decoration: none;
    float: right;
    margin-top: 30%;
    margin-right: -30%;
}
.col .download-btn:hover{
    background: #fff;
    color: #33B5E5;
}
.col:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
/* Form Page */
 .contactForm{
    font-family: sans-serif;
    background-color: #282C31;
    width: 70%;
    max-width: fit-content;
     margin-top: -10%;
    margin-left: 15%;
   border-radius: 5px;
    padding: 25px 40px 10px 40px ;
   min-height: 80vh; 
   cursor: pointer;
  

}
 .contactForm .text{
    color: #fff;
    font-size: 20px;
    font-weight: 100px;
    float: right;
   margin-right: 50px;
   padding: -10px 0 100px 50px;
}
.contactForm form{
    float: right;
    padding: 30px 50px 0px 0px;
    margin-left: -15%;
    color: #fff;
   
}
.contactForm form .form-row{
    display: flex;
  margin: 25px 25px 60px 0px;
 }

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    border: none;
    
} 

form .form-row .textarea{
    height: 100px;
   
}
form .form-row .review{
    height: 150px;
   }

.input-data input,
.textarea textarea,
.review textarea{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
   background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #D9D9D6;
    top: 100px;
    outline: none;

}
.input-data input:focus ~label,
.textarea textarea:focus~label,
.review textarea:focus ~label{
transform: translateY(-20px);
font-size: 20px;
outline: none;
}

.textarea textarea{
    resize: none;
    padding-top: 30px;
}
.review textarea
{
    resize: none;
    padding-top: 80px;

}
.input-data label
{
    position: absolute;
    bottom: 20px;
    
    font-size: 16px;
   
    pointer-events: none;
    transition: all 0.3 ease;
} 
.textarea label{
    width: 100%;
   
    bottom: 80px;
    top: 8px;
    border: transparent;
    background-color: #282C31;
}
.review label{
    width: 100%;
   
    bottom: 120px;
    top: 8px;
    border: transparent;
    background-color: #282C31;
}

/* Submit btn */
.submit-btn{
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
     border: 1px solid #2696E9;
     width: 10rem;
     
     
     
}
.submit-btn .input-data{
    height: 45px !important;
    width: 150px !important;
    overflow: hidden;
     font-size: 20px;
     margin-top: 20rem;
     
    
     
   
}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    background-color: transparent;
    margin-top: 20rem;
   
     /* left: -100%; */
}
.submit-btn .input-data input{
   color: #2696E9;
   letter-spacing: 1px;
   outline: none;
   font-size: 1rem;
   transition: all 0.3 ease;
    cursor: pointer;
    border-bottom: none;
   
}

.contactForm:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}





 /* Footer Section */
 .footer-contain{
     width: 90%;
     max-width: 90%;
     
     background-color: #CDC9DD;
     margin: 100px 20px 20px 50px;
     padding: 20px 10px;
     border-radius: 5px;
     
 }
 .footer-row{
    
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     flex-flow: wrap;

 }
 .footer-col{
     width: 45%;
     padding: 0 10px;
 }
 .footer-col h6{
     font-size: 18px;
     font-weight: 200;
     word-spacing: 3px;
     position: absolute;

 }
 .footer-col .social-links{
     margin-left: 50px;
    
 }
 .footer-col .social-links a{
     /* display: inline-block; */
     height: 40px;
    width: 60px;
    
     color: #282C31;
     font-size: 20px;
     margin: 0 20px;
     justify-content: space-between;
     
     transition: all 0.3s ease;
     opacity: 0.75;
 }
 .footer-col .social-links a:hover{
    opacity: 0.9;
     color: #2696E9;
    
 }


 /* Flexbox */
.Flexbox{
    font-family: sans-serif,"poppins";
    
    width: 100%;
    height: 400px;
    margin: 300px auto;
    max-width: 100%;
    min-height: 80vh;

    
   

}
.Flex{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    flex-flow: wrap;
    flex: 1;


}
.Col-1{
    width: 350px;
    height: 300px;
    background-color: #2696E9;
    margin-bottom: 50px;
   
    transition: 0.3s;
   float: left;
    cursor: pointer;
    margin-top: -60px;
    min-height: -30vh;
   
}
.Col-2{
    width: 300px;
    height: 300px;
    background-color: #2696E9;
    margin-bottom: 50px;
   
    transition: 0.3s;
   float: left;
    cursor: pointer;
    margin-top: -60px;
    min-height: -30vh;
    
}
.Col-3{
    width: 300px;
    height: 300px;
    background-color: #2696E9;
    margin-bottom: 50px;
   
    transition: 0.3s;
   float: left;
    cursor: pointer;
    margin-top: -60px;
    min-height: -30vh;
    
}
.Col-4{
    width: 325px;
    height: 300px;
    background-color: #2696E9;
    margin-bottom: 50px;
   
    transition: 0.3s;
   float: left;
    cursor: pointer;
    margin-top: -60px;
    min-height: -30vh;
   
}
.Col-header1
{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 50px;
   
}
.Col-header2
{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 50px;
}
.Col-header3
{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 50px;
}
.Col-header4
{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 50px;
}
.Col-body p{
    line-height: 25px;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    align-items: center;
   justify-content: center;
   padding-top: 30px;
   padding-left: 5px;
   padding-right: 5px;
   display: inline-block;
}
.Col-body ol{
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    align-items: center;
   justify-content: center;
   
}
.Col-body li{
    margin-top: 35px;
    line-height: 20px;

}
.Col-body li:hover{
    transform: translateY(-2px);
font-size: 20px;
outline: none;

}

/* .Col-1:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.Col-2:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.Col-3:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.Col-4:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
} */






/* Responsive */
@media only screen and (max-width: 1020px){
    
    .one ,.two,.four img,.five img, .six img, .seven img, .eight img, .nine img, .ten img, .eleven img ,.twelve img, .thirteen img, .fourteen img{
        display: none;
    }
    /* Navbar */
    
    .toggle{
        display: block;
        
    }
    .toggle .active{
        z-index: 999;
        background-color: #2696E9;
        background-size: 100px;
        background-position: fixed;
        transition: 0.3s ease;
        
    }
    #click:checked ~ .toggle i:before{
        content: "\f00d";
    }
     ul{
        position: fixed;
        /* top : 50px; */
        /* z-index: 999; */
        margin-top: 70px;
        right: 0;
        left: -100%;
        height: 250px;
        width: 60%;
        max-width: 500px;
        background-color: #33B5E5;
        display: block;
        transition: top .4s;
       margin-left: 0;
      /* overflow: hidden; */


    }
    #click:checked ~ ul{
        left: 0%;
    }
    .top-social{
        float: right;
        margin-right: 100px;
        line-height: 10px;
    }
    .top-social a{
        max-width: 50px;
        text-align: center;
     }
    
    ul.show{
        top: 60px;
      
    }
     ul li{
        top: 0;
        width: 100%;
        float: left;
        text-align: center;
    }

    /* Home Page */
    .home{
        
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
       position: absolute;
        width: 100%;
       max-width: 100%;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       height: 100vh;
    }
    .home .home-content{
      margin-top: 150px;
      margin-left: -500px;
        min-height: 100vh;
      font-size: 50px;
     font-weight: 300px;
      position: absolute;
}
    
     .home .home-content .text-1{
        margin-top: 25px;
    
    }
    .home .home-content .text-2{
        padding-top: 8px;
    
    }
    .home .download-btn{
       
        font-size: 10px;
        font-weight: 80px;
        padding: 1rem 2rem;
      
    }


    .home .img-slider{
        position: absolute;
        width: 200px;
        height: 400px;
        left: 25%;
       
       
        }
        .home .img-slider .slide img{
           
            height: 250px;
            width: 350px;
           margin-top: 8%;
           position: absolute;
           
        }
        .home .img-slider .navigation {
            float: left;
        
            z-index: 2;
            position: absolute;
            display: flex;
            bottom: 50px;
            left: 180px;
            top: 270px;
            transform: translateX(-50%);
            
        }
        .one{
            height: auto;
            width:auto;
           /* position: fixed; */
            margin-top: 30px ;
            margin-left:;
            
        }
.two{
    display: none;
}
.three{
    display: none;
}


    /* Home Page */
   
    
    /* Slider */
   .home .img-slider{
        position: relative;
       
        width: 50%;
        height: 30%;
        margin-top: -25%;
       margin-right: 5%;

       
        justify-content: center;
    }


    /* Responsive Cards */
    .container
{
    
    margin-left: -30px;
    width: 100%;
    max-width: 100%;
    position: relative;
}
    .card{
        margin-top: 50%;
        width: 750px;
        padding: 0 20px;
       margin-left: -15px;
       margin-right: 5px;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .containers 
{
    width: 80%;
    max-width: 80%;
    /* margin-right: 20px; */
    justify-content: space-between;

    
}
.row{
    margin-left: 50px;
    justify-content: space-evenly;

}
    .card-1{
        
        width: 200px;
    }
    .card-2{
        width: 200px;
    }
    .card-3{
        width: 200px;
    }

    /* 4th Slide */
    .columns{
        
        padding: 2px 12px;
        
        margin-left: 1rem;

    }
    .column-1{
        /* margin-left: 6rem; */
        width: 500px;
        height: 200px;

    }
    .column-2{
        width: 500px;
        height: 200px;

    }
    .column-3{
        width: 500px;
        height: 200px;

    }
    .column-header-1{
       
        font-size: 25px;
        font-weight: 150px;
        padding-top: 20px;
    }
    .column-body{
        text-align: center;
        font-size: 15px;
        font-weight: 100px;
        padding-top: 15px;
    
    }
    /* 5th Slide */


.col{
    width: 800px;
    height: 350px;
    justify-content: center;
    margin-left: 25px;


}
.col-1{
    width: 300px;
    height: 180px;
    margin-top: 10%;
   
}
.col .download-btn{
   
    font-size: 10px;
    font-weight: 50px;
   
    padding: 1rem 1rem;
    
    margin-top: 35%;
    /* margin-right: 25%; */
    position: relative;
}
.contactForm{
   
    width: 70%;
    max-width: 70%;
    display: inline-block;
     margin-top: -10%;
     border-radius: 5px;
   padding: 25px 40px 10px 40px ;
   min-height: 80vh; 
   cursor: pointer;
  }
 .contactForm .text{
    color: #fff;
    font-size: 20px;
    font-weight: 100px;
    float: right;
   margin-right: -40px;
   padding: -10px 0 100px 50px;
}
.contactForm form{
    float: right;
   padding: 30px 50px 0px 0px;
    margin-right: -6rem;
    color: #fff;
    font-size: 20px;
    
   
}
.submit-btn{
    margin-left: -200px;
}
/* Flexbox */
.Flexbox{
    width: 100%;
    max-width: fit-content;
}


.Col-1{
    width: 200px;
    height: 300px;
}
.Col-2{
    width: 200px;
    height: 300px;
}
.Col-3{
    width: 200px;
    height: 300px;
}
.Col-4{
    width: 250px;
    height: 300px;
}

}


@media screen and (max-width: 768px){
    /* Change it */
    .one ,.two ,.four img,.five img,.six img ,.seven img, .eight img, .nine img, .ten img ,.eleven img ,.twelve img ,.thirteen img ,.fourteen img{
        display: none;
    }
    ul{
        width: 100%;

    }
    .images img{
        height: auto;
        max-width: 100%;
    }
    .top-social{
       display: inline-block;
        line-height: -5px;
    }
    
    .home{
        width: 100%;
        max-width: 100%;
        flex-direction: column-reverse;
        }
    .home .home-content{
        width: 100%;
        max-width: fit-content;
    
       text-align: center;
       align-items: center;
      justify-content: center;
         margin-top: 62rem;
        margin-left: 2rem;
       margin-bottom: 100px;
       font-size: 3rem;
     font-weight: 10rem;
    
     
     
    
    }
     .home .img-slider{
        width: 100%;
        max-width: 100%;
        height: 500px;
        margin-top: 1rem;
        display: block;
        /* position: absolute; */
        

       
        /* margin-top: -0.5rem; */
}

.home .img-slider .slide img{

    height: 25rem;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    border-radius: 5px;
    padding: 5px;
    margin-left: -25%;
    justify-content:center ;
    align-items: center;
    text-align: center;
    /* margin-top: 1rem; */
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}
.home .img-slider .navigation{
    margin-top: 6rem;
    margin-left: -5rem;
}

    
    

    /* Responsive Cards */
    .container{
        width: 100%;
        max-width: fit-content;
        margin-left: 10px;
    }
    .card{
        width: 100%;
        max-width: 120%;
        text-align: center;
        margin-top: 55rem;
         height: 250px;
        
    }


    .card .head{
        
        font-weight: 20px;
        font-size: 20px;
       padding-top: 10px;
        
       
    }
    .card .head span{
        font-weight: 20px;
        font-size: 20px;
       padding-top: 10px;

    }
    .card .para{
       justify-content: start;
       font-size: 12px;
       line-height: 1rem;
       word-spacing: 1px;
       display: inline-block;
      

        /* margin-bottom: 2rem; */
        
    }
    /* 3rd Slide */
    .containers{
        width: 100%;
        max-width: fit-content;
       justify-content: center;
       flex-direction: row;
       align-items: center;
       text-align: center;
      margin-left: -0.5rem;

       
    }
    .card-1{
        width: 80%;
        padding-top: 10px;
        justify-content: center;
        height: 150px;
        width: 250px;
        margin-left: 0.2rem;
        
    }
    .card-2{
        width: 80%;
        padding-top: 10px;
        text-align: center;
        height: 150px;
        width: 250px;
        margin-left: 0.2rem;
        /* margin-left: 120px; */
    }
    .card-3{
        width: 80%;
       max-width: fit-content;
        padding-top: 10px;
        text-align: center;
        height: 150px;
        width: 250px;
        margin-left: 0.2rem;
        /* margin-left: 120px; */
    }
    .card-header1{
        font-size: 25px;
        padding: 8px;
        font-weight: 3px;
    }
    .card-header2{
        font-size: 25px;
        padding: 8px;
        font-weight: 3px;
    }
    .card-header3{
        font-size: 25px;
        padding: 8px;
        font-weight: 3px;
    }

    /* 4th Slide */
    .columns{
        padding: 2px 5px;
        justify-content: center;
        
    }
    .column-1{
       
        width: 400px;
        height: 150px;
        justify-content: center;
        

    }
    .column-2{
        width: 400px;
        height: 150px;
        justify-content: center;
       

    }
    .column-3{
        width: 400px;
        height: 150px;
        justify-content: center;
        
    }
    .column-header-1{
        text-align: center;
        font-size: 20px;
        font-weight: 150px;
        padding-top: 25px;
        padding: 5px;
    }
    
    
    .column-body{
        text-align: center;
        font-size: 15px;
        font-weight: 70px;
        padding-top: 10px;
        padding: 5px;
    
    }
/* 5th Slide */

.contain{
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
      position: relative;
      flex: 1;
    
}
.col{
    position: absolute;
    width: 450px;
   max-width: 500px;
    height: 13rem;
    justify-content: center;
    margin-left: 0px;
  margin-bottom: 200px;

}
.col-1{
    width: 150px;
    height: 80px;
    position: absolute;
    float: left;
    margin-left: 60%;
    /* margin-top: 5%;
    */
}
.col .download-btn{
    position: absolute;
     font-size: 10px;
    font-weight: 50px;
   width: 120px;
    padding: 0.8rem 0.8rem;
    margin-top: 30%;
    margin-left: 60%;
    float: right;
}

.contactForm{
    width: 150%; 
    max-width: fit-content;
      margin-top: 300px;
    position:absolute;
    display: inline-block;
    /* margin-left: -0.1rem; */
    }
 .contactForm .text{
     font-size: 20px;
     margin-left: 120px;
 }
 .contactForm form{
     padding: 10px 0 0 0;
 }
 .contactForm form .form-row{
     margin-left: 100px;
     display: block;
 }
  form .form-row .input-data{
      margin: 30px 0 !important;
  }
  .submit-btn{
     width: 8rem;
     height: 4rem;
     
     }
.submit-btn .input-data{
   
     font-size: 20px;
     margin-top: 20rem;
     }
  .submit-btn .input-data{
      height: 5px !important;
      width: 20px !important;
  }

.footer-contain{
    margin-top: 300px;
    width: 80%;
    height: 100px;
    display: none;
    /* max-width: 100%;
    margin-left: -5px; */
   
}
 .footer-row{

    align-items: center;
    /* justify-content: center; */
    text-align: center;

}

.footer-col{
   
    width: 70%;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: nowrap;

}
.footer-col h6{
    
  margin-left: 110px;
}
.footer-col .social-links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 120px;
}



.Flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    margin-top: 65rem;
    width: 100%;
   justify-content: center;
  
}
.Col-1{
    width: 80%;
    padding-top: 10px;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
    min-height: 50vh;
    
}
.Col-2{
    width: 80%;
    padding-top: 10px;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
    min-height: 60vh;
}
.Col-3{
    width: 80%;
    padding-top: 10px;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
    min-height: 60vh;
}
.Col-4{
    width: 80%;
    padding-top: 10px;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
    min-height: 50vh;
    display: inline-block;
}

.Col-header1{
    font-size: 25px;
    padding: 8px;
    font-weight: 3px;
}
.Col-header2{
    font-size: 25px;
    padding: 8px;
    font-weight: 3px;
}
.Col-header3{
    font-size: 25px;
    padding: 8px;
    font-weight: 3px;
}
.Col-header4{
    font-size: 25px;
    padding: 8px;
    font-weight: 3px;
}



}


